body {
    font-family: 'EB+Garamond', sans-serif !important;
  }

  .banner{
    font-family: 'EB+Garamond', sans-serif !important;

  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}