body {
    font-family: 'EB+Garamond', sans-serif !important;
  }


  .banner{
    font-family: 'EB+Garamond', sans-serif !important;

  }
  .btn-primary{
background-color: #B68C5A !important;

  }

  .footer{
    background-color: rgb(0, 0, 0) !important;
  }

  a:hover, a:active, a:visited, a:link{
    text-decoration: none  !important;
    text-decoration-color:#ffffff !important; 
  }
  .card:hover {
    opacity: 0.8 ;
    box-shadow:5px 10px #b68d5a62;
  }

  .alternate-font {
    font-family:"EB+Garamond"
 }